.main
    width: 800px
    margin: auto

.blog-title
    // border-bottom: 1px solid black
    font-size: 32px


div.item
    margin: 40px
    padding: 10px
    
    h1.heading
        border-bottom: 1px solid black